In [44]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, roc_auc_score
from sklearn.metrics import precision_score, classification_report
from sklearn.metrics import precision_recall_curve, confusion_matrix
from sklearn.preprocessing import StandardScaler
#from sklearn.feature_extraction.text import TfidfVectorizer
import itertools

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv("churn_data.csv")
df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

In [3]:
#разделим данные на train/test
X_train, X_test, y_train, y_test = train_test_split(df, df['Exited'], random_state=0)

In [4]:
#соберем наш простой pipeline, но нам понадобится написать класс для выбора нужного поля
class FeatureSelector(BaseEstimator, TransformerMixin):
    def __init__(self, column):
        self.column = column

    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        return X[self.column]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in self.columns:
            if col_ not in test_columns:
                X[col_] = 0
        return X[self.columns]

In [5]:
df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

In [6]:
categorical_columns = ['Geography', 'Gender', 'Tenure', 'HasCrCard', 'IsActiveMember']
continuous_columns = ['CreditScore', 'Age', 'Balance', 'NumOfProducts', 'EstimatedSalary']

In [7]:
from sklearn.pipeline import Pipeline
from sklearn.pipeline import FeatureUnion

gender = Pipeline([
                ('selector', FeatureSelector(column='Gender')),
                ('ohe', OHEEncoder(key='Gender'))
            ])
gender.fit(X_train)
gender.transform(X_test).head(3)

      Gender_Female  Gender_Male
9394              1            0
898               1            0
2398              1            0

In [43]:
final_transformers = list()

for cat_col in categorical_columns:
    cat_transformer = Pipeline([
                ('selector', FeatureSelector(column=cat_col)),
                ('ohe', OHEEncoder(key=cat_col))
            ])
    final_transformers.append((cat_col, cat_transformer))
    
for cont_col in continuous_columns:
    cont_transformer = Pipeline([
                ('selector', NumberSelector(key=cont_col))
            ])
    final_transformers.append((cont_col, cont_transformer))

In [9]:
feats = FeatureUnion(final_transformers)

feature_processing = Pipeline([('feats', feats)])

In [71]:
def measure_quality(model):
    pred = model.predict_proba(X_test)[:, 1]
    
    precision, recall, thresholds = precision_recall_curve(y_test, pred)
    fscore = (2 * precision * recall) / (precision + recall)
    # locate the index of the largest f score
    ix = np.argmax(fscore)
    print('Best Threshold=%f, F-Score=%.3f, Precision=%.3f, Recall=%.3f' % (thresholds[ix], 
                                                                            fscore[ix],
                                                                            precision[ix],
                                                                            recall[ix]))

Градиентный бустинг

In [87]:
from sklearn.ensemble import GradientBoostingClassifier

gb_pipeline = Pipeline([
    ('features',feats),
    ('classifier', GradientBoostingClassifier(n_estimators=81, random_state = 42)),
])

In [88]:
gb_pipeline = gb_pipeline.fit(X_train, y_train)
measure_quality(gb_pipeline)

Best Threshold=0.320687, F-Score=0.648, Precision=0.628, Recall=0.668

Логистическая регрессия. Тут надо немного изменить pipeline, добавив стандартизацию вещественных признаков.

In [66]:
final_transformers_linear = list()

for cat_col in categorical_columns:
    cat_transformer = Pipeline([
                ('selector', FeatureSelector(column=cat_col)),
                ('ohe', OHEEncoder(key=cat_col))
            ])
    final_transformers_linear.append((cat_col, cat_transformer))
    
for cont_col in continuous_columns:
    cont_transformer = Pipeline([
                ('selector', NumberSelector(key=cont_col)),
                ('scaler', StandardScaler())
            ])
    final_transformers_linear.append((cont_col, cont_transformer))
    
feats_linear = FeatureUnion(final_transformers_linear)

In [90]:
from sklearn.linear_model import LogisticRegression

lr_pipeline = Pipeline([
    ('features', feats_linear),
    ('classifier', LogisticRegression(random_state = 42)),
])

In [91]:
lr_pipeline = lr_pipeline.fit(X_train, y_train)
measure_quality(lr_pipeline)

Best Threshold=0.289522, F-Score=0.510, Precision=0.462, Recall=0.568

Градиентный бустинг оказался лучшей моделью по метрикам

In [101]:
def measure_effectiveness(pred):
    cnf_matrix = confusion_matrix(y_test, pred > 0.320687)
    profit = cnf_matrix[1][1] * 2
    expenses = cnf_matrix[1][1] + cnf_matrix[0][1]
    print(f'Выручка: {profit}')
    print(f'Траты: {expenses}')

In [102]:
pred = gb_pipeline.predict_proba(X_test)[:, 1]
measure_effectiveness(pred)

Выручка: 678
Траты: 539

Подберу оптимальные гиперпараметры

In [103]:
from sklearn.model_selection import GridSearchCV

params = {
    'classifier__max_features': [0.3, 0.5, 0.7],
    'classifier__min_samples_leaf': [1, 2, 3]
}

In [104]:
grid = GridSearchCV(gb_pipeline,
                    param_grid=params,
                    cv=6,
                    refit=False)

search = grid.fit(X_train, y_train)
search.best_params_

{'classifier__max_features': 0.7, 'classifier__min_samples_leaf': 1}

Теперь еще раз измерю экономическую эффективность

In [117]:
gb_pipeline = Pipeline([
    ('features',feats),
    ('classifier', GradientBoostingClassifier(max_features=0.7, min_samples_leaf=1,
                                              random_state = 42)),
])

In [118]:
gb_pipeline = gb_pipeline.fit(X_train, y_train)
measure_quality(gb_pipeline)

Best Threshold=0.315497, F-Score=0.647, Precision=0.623, Recall=0.672

In [119]:
pred = gb_pipeline.predict_proba(X_test)[:, 1]
measure_effectiveness(pred)

Выручка: 674
Траты: 540